@model IEnumerable<Bja.Entidades.Medico>

<script type="text/javascript">
    $("#Buscar").click(function () {
        buscarMedico('@Url.Action("MedicosPorCriterioBusqueda")', $("#criterioBusqueda").val());
    });    

    function buscarMedico(urlPath, value) {
        var str = "";
        $.getJSON(urlPath + "?criterioBusqueda=" + value, {},
            function (myData) {
                str = "";
                str += '<table id="medicosEncontrados" class="table-striped">';
                str += "<tr>";
                str += "<th>Nombres</th>";
                str += "<th>PrimerApellido</th>";
                str += "<th>SegundoApellido</th>";
                str += "<th>TercerApellido</th>";
                str += "<th>DocumentoIdentidad</th>";
                str += "<th></th>";
                str += "</tr>";
                str += "<tbody>";
                var nombreCompleto = "";
                $.each(myData, function (i, item) {
                    //$("#mitabla").append("" + item.Nombres + "");
                    str += "<tr>";
                    //alert(item.Nombres);
                    str += "<td>" + item.Nombres + "</td>";
                    str += "<td>" + item.PrimerApellido + "</td>";
                    str += "<td>" + item.SegundoApellido + "</td>";
                    if (item.TercerApellido != null) str += "<td>" + item.TercerApellido + "</td>";
                    else str += "<td></td>";
                    nombreCompleto = "";
                    nombreCompleto += item.Nombres != null ? item.Nombres : ""
                    nombreCompleto += "&nbsp;";
                    nombreCompleto += item.PrimerApellido != null ? item.PrimerApellido : "";
                    nombreCompleto += "&nbsp;";
                    nombreCompleto += item.SegundoApellido != null ? item.SegundoApellido : "";
                    nombreCompleto += "&nbsp;";
                    nombreCompleto += item.TercerApellido != null ? item.TercerApellido : "";
                    //nombreCompleto += " ";
                    //nombreCompleto += item.SegundoApellido;
                    str += "<td>" + item.DocumentoIdentidad + "</td>";
                    //str += "<td><a href'#' id='asd'>" + item.Id + "</a></td>";
                    //str += "<td><input type='submit' value='Seleccionar' class='btn' onclick='asigarMedico(" + item.Id + ")' ></td>";
                    str += "<td><input type='submit' value='Seleccionar' class='btn' onclick=asigarMedico(" + item.Id + ",'" + nombreCompleto + "') ></td>";
                    str += "</tr>";
                })
                str += "</tbody>";
                $("#mitabla").empty();
                $("#mitabla").append(str);
            });
    }

    function asigarMedico(valorId, nombreCompleto)
    {
        $("#IdMedico").val(valorId);
        $("#txtIdMedico").val(nombreCompleto);

        //algoMas(valorId);

        //buscarMedicoPorId('@Url.Action("MedicosPorIdentificador")', valorId);

        $(".dialog").dialog("close");
    }

    function buscarMedicoPorId(urlPath, value) {
        var str2 = "";
        $.getJSON(urlPath + "?identificadorBusqueda=" + value, {},
            function (myDataXX) {
                $.each(myDataXX, function (i2, item2) {
                    //$("#txtIdMedico").val("sdfsdf");
                    //$("#txtIdMedico").val(item2.Nombres);
                    alert(item2.Nombres);
                    str2 += item2.Nombres;
                    str2 += item2.PrimerApellido;
                    str2 += item2.SegundoApellido;
                    if (item2.TercerApellido != null) str += item2.TercerApellido;
                    str2 += item2.DocumentoIdentidad;
                })
            });
        
    }

    function algoMas(valorId)
    {
        //alert("sdfdff");

        $("#medicosEncontrados tbody tr").each(function (index) {
            var campo1, campo2, campo3, campo4, campo5, campo6;
            $(this).children("td").each(function (index2) {
                alert(index2)
                switch (index2) {
                    case 0:
                        campo1 = $(this).text();
                        break;
                    case 1:
                        campo2 = $(this).text();
                        break;
                    case 2:
                        campo3 = $(this).text();
                        break;
                    case 3:
                        campo4 = $(this).text();
                        break;
                    case 4:
                        campo5 = $(this).text();
                        break;
                    case 5:
                        campo6 = $(this).text();
                        break;
                }
                $(this).css("background-color", "#ECF8E0");
            })
            alert(campo1 + ' - ' + campo2 + ' - ' + campo3);
            $("#txtIdMedico").val(campo1);
        })        
    }

</script>


<form method="get">
    <input type="text" name="criterioBusqueda" id="criterioBusqueda" />
    <input type="button" value="Buscar" id="Buscar" class="btn btn-primary" />
</form>
<br />

<div id="mitabla"></div>
