table.table-striped th
{
    height:25px;
    border: 1px solid #ddd;
    padding: 3px;
}

#login ul li
{
    list-style: none;
    float: left;
}

table.table-striped td {
  font-size: 0.9em;
}

table.table-striped th {
  font-size: 1em;
  text-align: left;
  border: none 0px;
  padding-left: 0;
  font-weight: 100;
  background-color: #eee;
  padding: 0px 10px;
  border: 1px dotted #aaa;
  height: 30px;
}