<script type="text/javascript">

    function getJson(url) {
        return JSON.parse($.ajax({
            type: 'GET',
            url: url,
            dataType: 'json',
            global: false,
            async: false,
            success: function (myDataMT) {
                return myDataMT;
            }
        }).responseText);
    }
    var myDataMTjs = getJson('@Url.Action("MadreDepurada")' + "/" + $("#IdMadreDepurada").val());

    function getJson(url) {
        return JSON.parse($.ajax({
            type: 'GET',
            url: url,
            dataType: 'json',
            global: false,
            async: false,
            success: function (myDataM) {
                return myDataM;
            }
        }).responseText);
    }
    var myDataMjs = getJson('@Url.Action("MadreConsolidada")' + "/" + $("#IdMadreCompara").val());


    str = "";
    str += "<table class='table-striped' border='2'>";
    str += "<tr><th></th>  <th>Madre Depurada</th>  <th>Madre Consolidada</th></tr>";
    str += "<tr class='" + (myDataMTjs.Nombres == myDataMjs.Nombres ? '' : 'resaltar') + "'><th>Nombres</th><td>" + myDataMTjs.Nombres + "</td><td>" + myDataMjs.Nombres + "</td></tr>";
    str += "<tr class='" + (myDataMTjs.PrimerApellido == myDataMjs.PrimerApellido ? '' : 'resaltar') + "'><th>PrimerApellido</th><td>" + myDataMTjs.PrimerApellido + "</td><td>" + myDataMjs.PrimerApellido + "</td></tr>";
    str += "<tr class='" + (myDataMTjs.SegundoApellido == myDataMjs.SegundoApellido ? '' : 'resaltar') + "'><th>SegundoApellido</th><td>" + myDataMTjs.SegundoApellido + "</td><td>" + myDataMjs.SegundoApellido + "</td></tr>";
    str += "<tr class='" + (myDataMTjs.TercerApellido == myDataMjs.TercerApellido ? '' : 'resaltar') + "'><th>TercerApellido</th><td>" + myDataMTjs.TercerApellido + "</td><td>" + myDataMjs.TercerApellido + "</td></tr>";
    str += "<tr class='" + (myDataMTjs.NombreCompleto == myDataMjs.NombreCompleto ? '' : 'resaltar') + "'><th>NombreCompleto</th><td>" + myDataMTjs.NombreCompleto + "</td><td>" + myDataMjs.NombreCompleto + "</td></tr>";
    str += "<tr class='" + (myDataMTjs.DocumentoIdentidad == myDataMjs.DocumentoIdentidad ? '' : 'resaltar') + "'><th>DocumentoIdentidad</th><td>" + myDataMTjs.DocumentoIdentidad + "</td><td>" + myDataMjs.DocumentoIdentidad + "</td></tr>";
    str += "<tr class='" + (myDataMTjs.FechaNacimiento == myDataMjs.FechaNacimiento ? '' : 'resaltar') + "'><th>FechaNacimiento</th><td>" + Fecha(new Date(parseInt(myDataMTjs.FechaNacimiento.substr(6)))) + "</td><td>" + Fecha(new Date(parseInt(myDataMjs.FechaNacimiento.substr(6)))) + "</td></tr>";
    str += "<tr class='" + (myDataMTjs.LocalidadNacimiento == myDataMjs.LocalidadNacimiento ? '' : 'resaltar') + "'><th>LocalidadNacimiento</th><td>" + myDataMTjs.LocalidadNacimiento + "</td><td>" + myDataMjs.LocalidadNacimiento + "</td></tr>";
    str += "</table>";
    $("#compara").empty();
    $("#compara").append(str);

    //$("#compara").empty();
    //$("#compara").append('<table class="table2" border="1">');
    //$("#compara").append("<tr><th></th>  <th>Madre Depurada</th>  <th>Madre Consilidada</th></tr>");
    //$("#compara").append("<tr class='" + (myDataMTjs.Nombres == myDataMjs.Nombres ? '' : 'resaltar') + "'><td>Nombres</td><td>" + myDataMTjs.Nombres + "</td><td>" + myDataMjs.Nombres + "</td></tr>");
    //$("#compara").append("<tr class='" + (myDataMTjs.PrimerApellido == myDataMjs.PrimerApellido ? '' : 'resaltar') + "'><td>PrimerApellido</td><td>" + myDataMTjs.PrimerApellido + "</td><td>" + myDataMjs.PrimerApellido + "</td></tr>");
    //$("#compara").append("<tr class='" + (myDataMTjs.SegundoApellido == myDataMjs.SegundoApellido ? '' : 'resaltar') + "'><td>SegundoApellido</td><td>" + myDataMTjs.SegundoApellido + "</td><td>" + myDataMjs.SegundoApellido + "</td></tr>");
    //$("#compara").append("<tr class='" + (myDataMTjs.TercerApellido == myDataMjs.TercerApellido ? '' : 'resaltar') + "'><td>TercerApellido</td><td>" + myDataMTjs.TercerApellido + "</td><td>" + myDataMjs.TercerApellido + "</td></tr>");
    //$("#compara").append("<tr class='" + (myDataMTjs.NombreCompleto == myDataMjs.NombreCompleto ? '' : 'resaltar') + "'><td>NombreCompleto</td><td>" + myDataMTjs.NombreCompleto + "</td><td>" + myDataMjs.NombreCompleto + "</td></tr>");
    //$("#compara").append("<tr class='" + (myDataMTjs.DocumentoIdentidad == myDataMjs.DocumentoIdentidad ? '' : 'resaltar') + "'><td>DocumentoIdentidad</td><td>" + myDataMTjs.DocumentoIdentidad + "</td><td>" + myDataMjs.DocumentoIdentidad + "</td></tr>");
    //$("#compara").append("<tr class='" + (myDataMTjs.FechaNacimiento == myDataMjs.FechaNacimiento ? '' : 'resaltar') + "'><td>FechaNacimiento</td><td>" + Fecha(new Date(parseInt(myDataMTjs.FechaNacimiento.substr(6)))) + "</td><td>" + Fecha(new Date(parseInt(myDataMjs.FechaNacimiento.substr(6)))) + "</td></tr>");
    //$("#compara").append("<tr class='" + (myDataMTjs.LocalidadNacimiento == myDataMjs.LocalidadNacimiento ? '' : 'resaltar') + "'><td>LocalidadNacimiento</td><td>" + myDataMTjs.LocalidadNacimiento + "</td><td>" + myDataMjs.LocalidadNacimiento + "</td></tr>");

    //$("#compara").append("<tr class='detalles'><td></td>  <td><input type='button' value='Detalles' class='btn' onclick='BuscarDetalles(" + $("#IdMadreDepurada").val() + ")' /></td>  <td><input type='button' value='Detalles' class='btn' onclick='BuscarDetalles(" + $("#IdMadreCompara").val() + ")' /></td></tr>");
    
    //$("#compara").append("</table>")

</script>

<div id="compara"></div>
<div id="detalles"></div>
