HERNAN

<form method="get">
    <input type="text" name="criterioBusqueda" id="criterioBusqueda" />
    <input type="button" value="Buscar" id="Buscar" class="btn btn-primary" />
</form>
<br />

<div id="mitabla"></div>